:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --primary-font-family: 'Roboto', 'Open Sans', 'Noto Sans JP', 'Lato', sans-serif;
  --title-font-weight: 700;
  --sub-title-font-weight: 500;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --main-line-height: 1.15;
  --main-letter-spacing: 0.03em;
  --card-set-gap: 30px;
}

.socials-in-menu, .site-nav__list, .contact-inf, .features__list, .what-we-do__list, .team__list, .socials, .clients__list {
  list-style: none;
  padding: 0;
}

.logo, .socials-in-menu__link, .site-nav__link, .contact-inf__link, .socials__link--with-icon, .clients__link, .address__location {
  text-decoration: none;
  color: var(--primary-text-color);
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header__container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__contact-inf {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (max-width: 767px) {
  .page-header__contact-inf {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__contact-inf {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact-inf {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contact-inf-item:not(:first-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact-inf-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact-inf-item:not(:last-child) {
    margin-right: 30px;
  }
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--title-font-weight);
  font-size: 24px;
  line-height: 1.16667;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19231;
  }
}

.logo__accent-word {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu__container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-button {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon-close {
  display: none;
}

.menu-button.is-open .menu-button__icon-close {
  display: block;
}

.menu-button.is-open .menu-button__icon-open {
  display: none;
}

.menu-button:hover {
  fill: var(--accent-color);
}

.socials-in-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .socials-in-menu {
    display: none;
  }
}

.socials-in-menu__item {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.socials-in-menu__item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.socials-in-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14286;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contact-inf__link--vertical-alignment {
  display: flex;
  align-items: center;
}

.contact-inf__link--header-text-style {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .contact-inf__link--header-text-style {
    font-size: 12px;
    line-height: 1.16667;
  }
}

@media screen and (min-width: 1200px) {
  .contact-inf__link--header-text-style {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14286;
  }
}

@media screen and (max-width: 767px) {
  .contact-inf__link--color--accent {
    font-size: 34px;
    line-height: 1.17647;
    color: var(--accent-color);
  }
}

.contact-inf__link--footer-text-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-inf__link--hovered:hover, .contact-inf__link--focused:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-inf__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact-inf__icon {
    display: none;
  }
}

.contact-inf__icon--prepend {
  margin-right: 10px;
}

.contact-inf__icon--envelop-desktop-size {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-inf__icon--envelop-desktop-size {
    width: 16px;
    height: 12px;
  }
}

.contact-inf__icon--smart-desktop-size {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contact-inf__icon--smart-desktop-size {
    width: 10px;
    height: 16px;
  }
}

.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero-480.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero-480@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero-480@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero-768.webp");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero-768@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/hero-768@2x.webp");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero-1600.webp");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero-1600@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/hero-1600@2x.webp");
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36364;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px;
  }
}

.modal {
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  width: 11px;
  height: 11px;
  margin: auto;
}

.modal__button:hover > .modal__icon,
.modal__button:focus > .modal__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden > .modal {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .backdrop--hidden > .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.order-service-form__head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .order-service-form__head {
    font-size: 20px;
    line-height: 1.15;
  }
}

.order-service-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.order-service-form__field:last-child {
  margin-bottom: 20px;
}

.order-service-form__field:focus-within > .order-service-form__icon {
  fill: var(--accent-color);
}

.order-service-form__field:focus-within > .order-service-form__input {
  outline-color: var(--accent-color);
}

.order-service-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.order-service-form__input {
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(29, 19, 19, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-form__input:hover {
  border-color: var(--accent-color);
}

.order-service-form__input:hover + .order-service-form__icon {
  fill: var(--accent-color);
}

.order-service-form__input--text-area {
  min-height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  resize: none;
}

.order-service-form__input--text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-service-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-form__terms-contract-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.order-service-form__icon-position-wrapper {
  position: relative;
  margin-right: 8px;
}

.order-service-form__custom-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--primary-text-color);
  border-radius: 1px;
  background-color: #fff;
}

.order-service-form__custom-checkbox:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.order-service-form__icon-custom-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 15px;
  opacity: 0;
}

.order-service-form__custom-checkbox:checked + .order-service-form__icon-custom-checkbox {
  opacity: 1;
}

.order-service-form__terms-contract-label {
  font-weight: 400;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.16667;
}

@media screen and (min-width: 1200px) {
  .order-service-form__terms-contract-label {
    font-size: 14px;
    line-height: 1.71429;
  }
}

.order-service-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order-service-form__button:hover, .order-service-form__button:focus {
  background-color: #188ce8;
}

.terms-contract-label__link {
  color: var(--accent-color);
}

.button {
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  font-weight: var(--title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}

.button--icon-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * 15px);
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 8) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__icon-underlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-size: var(--primary-font-size);
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__desc {
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: var(--title-font-weight);
  font-size: 28px;
  line-height: 1.17857;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16667;
  }
}

.section--top-padding {
  padding-top: 0;
}

.section--bg-color-gray {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * 15px);
  }
}

.what-we-do__item {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .what-we-do__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 6) / 3);
  }
}

.what-we-do__title-underlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__title {
  font-size: var(--primary-font-size);
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  color: var(--white-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * 15px);
  }
}

.team__item {
  text-align: center;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 8) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__wrap {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: var(--sub-title-font-weight);
  font-size: 16px;
  line-height: 1.1875;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--secondary-text-color);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item--bg-style {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socials__icon--fill-white {
  fill: #fff;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover > .socials__icon,
.socials__link:focus > .socials__icon {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * 15px);
}

.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 15px * 4) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 6) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 12) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__icon {
  fill: #afb1b8;
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover > .clients__icon,
.clients__link:focus > .clients__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__tablet-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__tablet-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__columns:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__columns:not(:last-child) {
    margin-right: 70px;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #fff;
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.address {
  font-style: normal;
}

.address__location {
  display: block;
  margin-bottom: 8px;
  line-height: 1.7;
  color: var(--white-text-color);
}

.address__contact-inf-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe-form__field {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__field {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-form__label {
  display: block;
}

.subscribe-form__input {
  height: 50px;
  max-width: 450px;
  width: 100%;
  padding: 15px 16px;
  color: #fff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */