.address {
    font-style: normal;

    &__location {
        @extend %link;

        display: block;

        margin-bottom: 8px;

        line-height: 1.7;
        color: var(--white-text-color);
    }

    &__contact-inf-item:not(:last-child) {
        margin-bottom: 8px;
    }
}
