.features {
    &__list {
        @extend %list;

        @include for-tablet-portrait-up() {
            @include grid();
        }
    }

    &__item {
        @include for-tablet-portrait-up() {
            @include grid-column(4, 2);
        }

        @include for-desktop-up() {
            @include grid-column(8, 4);
        }
    }

    &__item:not(:last-child) {
        @include for-tablet-portrait-down() {
            margin-bottom: 30px;
        }
    }

    &__icon-underlay {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 120px;
        margin-bottom: 30px;

        background-color: #f5f4fa;
        border-radius: 4px;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        margin-bottom: 10px;

        font-size: var(--primary-font-size);
        font-weight: var(--title-font-weight);
        text-transform: uppercase;

        @include for-tablet-portrait-down() {
            text-align: center;
        }
    }

    &__desc {
        line-height: 1.7;
        color: var(--secondary-text-color);
    }
}
