.hero {
    height: 400px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-color: #c4c4c4;
    // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //     url('../images/hero/mobile/hero-480.webp');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/mobile/hero-480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        //     url('../images/hero/mobile/hero-480@2x.webp');
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/mobile/hero-480@2x.jpg');
    }

    @include for-tablet-portrait-up() {
        // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        //     url('../images/hero/tablet/hero-768.webp');
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/tablet/hero-768.jpg');

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            //     url('../images/hero/tablet/hero-768@2x.webp');
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero/tablet/hero-768@2x.jpg');
        }
    }

    @include for-desktop-up() {
        max-width: 1600px;
        height: 600px;

        padding-top: 200px;
        padding-bottom: 200px;

        // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        //     url('../images/hero/desktop/hero-1600.webp');
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/desktop/hero-1600.jpg');

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            //     url('../images/hero/desktop/hero-1600@2x.webp');
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero/desktop/hero-1600@2x.jpg');
        }
    }

    &__title {
        max-width: 360px;
        margin: 0 auto 30px;

        font-weight: 900;
        @include font-size-line-height(26px, 42px);
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--white-text-color);

        @include for-desktop-up() {
            max-width: 696px;

            @include font-size-line-height(44px, 60px);
        }
    }
}
